<h2>Add Category</h2>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="title" class="form-control mb-3" placeholder="Category name" required>
    <button class="btn btn-primary">Save</button>
</form>



<h2 class="mt-3"> Delete the Category</h2>
<form method="POST" action="{% url 'delete_category' %}">
    {% csrf_token %}

    <select name="category_id" class="form-select" required>
        <option value="">-- Select Category --</option>
        {% for cat in category %}
            <option value="{{ cat.id }}">{{ cat.title }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-danger mt-3">Delete</button>
</form>


